html {
	background-color: gainsboro;
}
body {
	background-color: gainsboro;
	margin: 0;
}

#root {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.eyks-loader {
	position: relative;
	background-color: white;
	border-radius: 50%;
	mix-blend-mode: multiply;
}

.eyks-arrow {
	height: 20em;
	width: 20em;
	border-radius: 50%;
	position: relative;
	animation: spin linear infinite;
	animation-delay: 300ms;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.eyks-arrow::after {
	position: absolute;
	content: "";

	top: 1.75em;
	bottom: 1.75em;
	right: 1.75em;
	left: 1.75em;

	background-color: white;
	border-radius: 50%;
}

.tri-up {
	position: absolute;
	width: 0;
	height: 0;
	z-index: 1;
	border-bottom: 3.5em solid;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;

	top: 50%;
	transform: translateY(-50%);
	right: 0;
	margin-right: -0.95em;
}

.tri-up-white {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 3.5em solid white;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;

	top: 50%;
	transform: translateY(calc(-50% - 1em));
	right: 0;
	margin-right: -0.95em;
}

.tri-down {
	position: absolute;
	width: 0;
	height: 0;
	z-index: 1;
	border-top: 3.5em solid;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;

	top: 50%;
	transform: translateY(-50%);
	left: 0;
	margin-left: -0.95em;
}

.tri-down-white {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 3.5em solid white;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;

	top: 50%;
	transform: translateY(calc(-50% + 1em));
	left: 0;
	margin-left: -0.95em;
}

.status-bar-container {
	height: 0.3em;
	border: 1px solid;
	border-radius: 0.3em;

	position: absolute;
	top: 50%;
	left: 17%;
	right: 17%;
	transform: translateY(-50%);
}

.status-bar {
	position: relative;
	height: 100%;
	border-radius: 0.3em;
	transition: width 300ms linear;
}

.status-bar-after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 0px 0.8em 0.07em;
	animation: shine 1000ms linear 300ms infinite alternate;
}

@keyframes shine {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
