html {
	/* background-color: rgb(194, 48, 48); */
	/* mix-blend-mode: multiply; */
}
body {
	background-color: rgb(63, 63, 63);
	/* mix-blend-mode: lighten; */
	/* background-color: rgb(218, 158, 158);
	mix-blend-mode: multiply; */
	margin: 0;
}

#root {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-container {
	padding: 10px;
	font-family: monospace;
	font-size: 20px;
	width: 50%;
	background-color: rgb(240, 214, 143);
	position: relative;
}
