html {
	background-color: white;
}
body {
	background-color: white;
	margin: 0;
}

#root {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-container {
	padding: 10px;
	font-family: monospace;
	font-size: 20px;
	width: 50%;
	background-color: rgb(240, 214, 143);
	position: relative;
}
